@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --fundo: #131f37; 
    --color-font: rgba(255,255,255,0.5);
    --color-hover: rgba(255,255,255,1);
    --font-principal: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-principal);
}