@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --fundo: #131f37; 
    --color-font: rgba(255,255,255,0.5);
    --color-hover: rgba(255,255,255,1);
    --color-botao: #333;
    --color-branco: #fff;
    --font-principal: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-principal);
}

.banner {
    display: grid;
    grid-template-columns: 3fr 4fr;
}

.banner .box {
    position: relative;
    height: 100vh;
    background: var(--fundo);
}

header {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 60px;
    letter-spacing: 1px;
}

header .logo img {
    max-width: 200px;
}

header ul {
    display: flex;
    gap: 60px;
}

header ul li {
    list-style: none;
}

header ul li a {
    text-decoration: none;
    font-weight: 500;
    color: var(--color-font);
    font-size: 18px;
}

header ul li a:hover {
    color: var(--color-hover);
}

.banner .conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .conteudo .conteudoBox {
    align-items: center;
    text-align: center;
    padding: 60px;
}

.banner .conteudo .conteudoBox img {
    max-width: 100%;
}

.banner .conteudo .conteudoBox p {
    font-weight: 500;
    color: var(--color-branco);
    letter-spacing: 1px;
    font-size: 18px;
    letter-spacing: 1px;
}

.banner .conteudo .conteudoBox .botao {
    display: inline-block;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    background-color: var(--color-branco);
    color: var(--color-botao);
    text-decoration: none;
    border-radius: 30px;
    font-weight: 500;
    margin-top: 20px;
    font-size: 18px;
}

.banner .conteudo .conteudoBox .botao:hover {
    letter-spacing: 2px;
}

